@charset "UTF-8";
@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
#jm-font { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

.box-wrapper{
	border:#3156A1 solid 2px;
	border-radius:13px;
	height: 637px;
	-webkit-box-shadow: 0 0 40px rgb(82 85 90 / 10%);
}

.container2 {
    width: 60%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 49px;
    margin-bottom: 110px;
}
}

img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 32%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { 
	height: 550px; overflow-y: scroll;
	
}

.active_chat{ background:#ebebeb;}


/* 채팅방 */

#room-title{
	font-weight:bold;
}

.his-btn{
	margin-top:10px;
	margin-bottom:11px;
}

.container{
max-width:800px; 
margin:auto;
}
.messaging { padding: 0 0 0 0;}
.chatcontent {
height: 700px; 
width : 100%; 
overflow-y: scroll; 
  height: 516px;
  border: 1px solid #c4c4c4;
  clear: both;
  
}

/* .chatcontent::-webkit-scrollbar{ */
/* 	color:blue; */
/* 	border-radius:10px; */
/* } 스크롤 바 */

/* 채팅 입력창 */
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}
.type_msg {
/* 	border-bottom: 1px solid #c4c4c4; */
	position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.inputMsg_label {
	margin-top:23px;
	font-size:15px;
	color : #1187CF;
}
li{
list-style:none;
}
/* 이전 받은 메시지 */
#incoming {
margin-left:2%; 
margin-right:2%;
width:40%;
}
#incoming li {
list-style:none;
/* float:right;  */
margin-top:-2%;
background-color: #eee;
padding: 10px;
}
#incoming span{
color=#926a9d; font-size:12px;
}
#incoming p{
font-size:17px;
}
/* 이전 보낸 메시지 */
#outgoing {
float:right;
margin-left:20%; 
margin-right:2%;
width:43%;
}
#outgoing li {
list-style:none;
margin-top:-2%;
background-color: #DBEFF4;
padding: 10px;
}
#outgoing span{
color=#926a9d; 
font-size:12px;
}
#outgoing p{
font-size:17px;
}
/* 실시간 보낸 메시지*/
.realtime-out {
	
	float:right;margin-left:50%; margin-right:2%;
}
.realtime-out-li {
	float:right; padding-top: 40px;
}
.realtime-out-li2 {
	background-color: #DBEFF4;  padding: 10px;
}
.realtime-out-span {
	color=#926a9d; font-size:12px;
}
/* 실시간 받은 메시지*/
.realtime-in {
	float:left; margin-left:0%; margin-right:50%;
}
.realtime-in-li {
	float:left; padding-top: 40px;
}
.realtime-in-li2 {
	background-color: #eee;  padding: 10px;
}
.realtime-in-span {
	color=#926a9d; font-size:12px;float:right;
}







