@charset "UTF-8";

body {
    font-family: 'Rubik', sans-serif;
    color: #757575;
    font-size: 18px;
    line-height: 32px;
}

#tag{
    margin-top: 20px;
    font-size: 21px;
    font-weight: 700;
    color: #2d78b9e8;
}

.thm-container {
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.contact-form-content {
    background: #F5F6FA;
    padding: 80px 0;
    padding-left: 80px;
    padding-right: 80px;
}

.thm-container .title {
    margin-bottom: 50px;
}

.thm-container .title span {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #FF4328;
}

.thm-container .title h2 {
    color: #212121;
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
}

.contact-form input, 
.contact-form textarea {
    border: none;
    outline: none;
    width: 100%;
    height: 68px;
    border-radius: 35px;
    background: #fff;
    color: #757575;
    font-size: 16px;
    padding-left: 50px;
    margin-bottom: 20px;
    display: block;
}

.contact-form textarea {
    height: 182px;
    padding-top: 20px;
}

.thm-btn {
    border: none;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    background: #FEC931;
    color: #212121;
    border-radius: 35px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    padding: 18px 69px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.contact-info {
    margin-left: -30px;
    border: 2px solid #EBEDF4;
    padding-top: 75px;
    padding-bottom: 80px;
}

.single-contact-info h4 {
    color: #212121;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact-info .social a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    line-height: 59px;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
    display:inline-block;
    font-family: FontAwesome;
    margin:5px;
}

.contact-info .social a.fa-twitter {
    background: #FEC931;
}

.contact-info .social a.fa-pinterest {
    background: #212121;
}

.contact-info .social a.fa-facebook-f {
    background: #2884C6;
}

.contact-info .social a.fa-youtube {
    background: #FF4328;
}


.cnt_wrapper{
	max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1.5rem 1.5rem 5rem;
}

.cnt_header {
	display:flex;
	flex-direction:column;
	text-align: center;
}

.cnt_title {
    margin-top: 2.5rem;
    font-weight: 800;
    font-size: 3rem;
    line-height: 126.5%;
    letter-spacing: -.005em;
    color: #000;
}

.cnt_userdate {
    margin-top: 29px;
    padding-bottom: 32px;
    border-bottom: 3px solid #d8d8d8;
    display: flex;
    grid-gap: 15px;
    gap: 15px;
    align-items: center;	
    padding-left: 260px;
    padding-right: 260px;
}
.cnt_user{
	display: flex;
    align-items: center;
    position: relative;
}

.cnt_userImg{
    cursor: pointer;
    display: block;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 16px;
    border-radius: 50%;
    object-fit: cover;
}

.cnt_userName {
    color: #333;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding-right: 15px;
    border-right: 2px solid #e1e1e1;
}

.cnt_registeredDate {
    font-size: 18px;
    color: #717171;
}

/* 스터디 정보 */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.studyInfo_studyGrid__38Lfj {
    display: grid;
    grid-template-columns: repeat(2,3fr);
    grid-row-gap: 24px;
    row-gap: 24px;
    margin-top: 60px;
    padding-left: 51px;
    margin-right: -117px;
}
.studyInfo_CntWrapper {
    display: flex;
    position: relative;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}

.studyInfo_title {
    color: #717171;
    margin-right: 40px;
}

.studyInfo_Cnt {
    color: #333;
}

/* 내용 */
.studyCnt_postCntWrapper {
    margin-top: 65px;
    font-size: 1.125rem;
    word-break: break-all;
    line-height: 1.7;
    letter-spacing: -.004em;
}

.studyCnt_postInfo {
    margin: 0;
    color: #333;
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 24px;
    border-bottom: 3px solid #d8d8d8;
}

.studyContent_commentAndViews {
    display: flex;
    flex-direction: column;
    background: #fff;
}

.studyContent_postComment {
    width: 100%;
    margin: 0 auto;
}
.commentInput_commentInput {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
}

.commentInput_commentCount {
    margin: 0 0 30px;
    font-size: 22px;
}

.commentInput_commentInput textarea {
    font-family: inherit;
    padding: 1rem 1rem 1.5rem;
    outline: none;
    border: 2px solid #e1e1e1;
    border-radius: 6px;
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
    resize: none;
}

.commentInput_buttonWrapper {
    display: flex;
    justify-content: flex-end;
    margin: 16px 0 24px;
}

.commentInput_buttonComplete {
    padding: 10px 30px;
    min-width: 120px;
    height: 40px;
    background: #333;
    border-radius: 50px;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
}

button {
    outline: none;
    border: none;
    background-color: #fff;
    cursor: pointer;
}









